.tempContainer, .humidityContainer, .atmPressure, .windSpeed, .windDirection {
    width: 300px;
    background-color: #FFFFFF;
    padding: 15px;
    border-radius: 10px;
    gap: 15px;
    box-shadow: 0px 5px 10px lightgray;
}

.tempContainer > h2, .humidityContainer > h2, .atmPressure > h2, .windSpeed > h2, .windDirection > h2 {
    margin-bottom: 10px;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin: 30px 0px;
}